# Tablas de Datos

## Provincias
Esta tabla tendrá columnas de `Pais` | `Nombre` | `Superficie` | `Hogares` | `Poblacion 2010` | `Poblacion 2022` | `Latitud` | `Longitud` | `Ingresos` | `id_provincia`

Los datos de poblacion se obtienen de la web del INDEC: [link al .xlsx](https://www.indec.gob.ar/ftp/cuadros/poblacion/c2022_tp_est_c1.xlsx)

Los datos de hogares también se obtienen de la web del INDEC: [link al .xlsx](https://censo.gob.ar/wp-content/uploads/2024/07/c2022_tp_gobierno_local_c1.xlsx)

Los datos de superficie de sacan de wikipedia. [link1](https://es.wikipedia.org/wiki/Provincias_de_Argentina) y [link2](https://es.wikipedia.org/wiki/Buenos_Aires)

Los datos de los ingresos per cápita familiar se obtienen de la web del INDEC, corresponden la tercer trimestre del 2023: [link al .xlsx](https://www.indec.gob.ar/ftp/cuadros/sociedad/indicadores_eph_total_urbano_ingresos_3t_2023.xls)

Los datos de coordenadas se obtuvieron de [geodatos](https://www.geodatos.net/coordenadas/argentina)

In [1]:
import pandas as pd #type:ignore
import unicodedata
import numpy as np
import warnings

In [2]:
# URL de la página de Wikipedia
url = "https://es.wikipedia.org/wiki/Provincias_de_Argentina"

# Leer todas las tablas de la página
tablas = pd.read_html(url)

# Inspeccionar cuántas tablas hay
print(f"Se encontraron {len(tablas)} tablas.")

# Seleccionar la tabla que tiene los datos de superficie
tabla_provincias = tablas[1]  # Es la primer tabla que aparece en la web

# Mostrar los primeros registros de la tabla
tabla_provincias

Se encontraron 4 tablas.

                                            Provincia Bandera Abrev. IATA  \
                                            Provincia Bandera Abrev. IATA
                                            Provincia Bandera Abrev. IATA
0                           Provincia de Buenos Aires     NaN          BA
1                              Provincia de Catamarca     NaN          CA
2                                 Provincia del Chaco     NaN          CH
3                                Provincia del Chubut     NaN          CT
4                                Provincia de Córdoba     NaN          CB
5                             Provincia de Corrientes     NaN          CR
6                             Provincia de Entre Ríos     NaN          ER
7                                Provincia de Formosa     NaN          FO
8                                  Provincia de Jujuy     NaN          JY
9                               Provincia de La Pampa     NaN          LP
10                              Provincia de La Rioja     NaN          LR
11                               Provincia de Mendoza     NaN          MZ
12                              Provincia de Misiones     NaN          MI
13                              Provincia del Neuquén     NaN          NQ
14                             Provincia de Río Negro     NaN          RN
15                                 Provincia de Salta     NaN          SA
16                              Provincia de San Juan     NaN          SJ
17                              Provincia de San Luis     NaN          SL
18                            Provincia de Santa Cruz     NaN          SC
19                              Provincia de Santa Fe     NaN          SF
20                   Provincia de Santiago del Estero     NaN          SE
21  Provincia de Tierra del Fuego, Antártida e Isl...     NaN          TF
22                               Provincia de Tucumán     NaN          TU

   Pobl. (censo 2022)[6]​[7]​                  Sup. (km²)             \
                     Absoluta Porcentual       Sup. (km²)
                     Absoluta Porcentual        Absolutos Porcentual
0                  17 523 996        41%          307 571        11%
1                     429 562         1%          102 602         4%
2                   1 129 606         3%           99 633         4%
3                     592 621         1%          224 686         8%
4                   3 840 905         9%          165 321         6%
5                   1 212 696         3%           88 199         3%
6                   1 425 578         3%           78 781         3%
7                     607 419         1%           72 066         3%
8                     811 611         2%           53 219         2%
9                     361 859         1%          143 440         5%
10                    383 865         1%           89 680         3%
11                  2 043 540         5%          148 827         5%
12                  1 278 873         3%           29 801         1%
13                    710 814         2%           94 078         3%
14                    750 768         2%          203 013         7%
15                  1 441 351         3%          155 488         6%
16                    822 853         2%           89 651         3%
17                    542 069         1%           76 748         3%
18                    337 226         1%          243 943         9%
19                  3 544 908         8%          133 007         5%
20                  1 060 906         2%          136 351         5%
21           185 732[nota 1]​         0%  21 571[nota 2]​         1%
22                  1 731 820         4%           22 524         1%

   Dens. de pobl. (hab/km²)[6]​                              Capital  \
   Dens. de pobl. (hab/km²)[6]​                              Capital
   Dens. de pobl. (hab/km²)[6]​                              Capital
0                           573                             La Plata
1                            42  San Fernando del Valle de Catamarca
2                           113                          Resistencia
3                            26                               Rawson
4                           233                              Córdoba
5                           136                           Corrientes
6                           182                               Paraná
7                            80                              Formosa
8                           152                San Salvador de Jujuy
9                            25                           Santa Rosa
10                           42                             La Rioja
11                          137                              Mendoza
12                          428                              Posadas
13                           75                              Neuquén
14                           37                               Viedma
15                           93                                Salta
16                           93                             San Juan
17                           72                             San Luis
18                           14                         Río Gallegos
19                          266                             Santa Fe
20                           77                  Santiago del Estero
21                            2                              Ushuaia
22                          767                San Miguel de Tucumán

   Declaración de autonomía
   Declaración de autonomía
   Declaración de autonomía
0     11 de febrero de 1820
1      25 de agosto de 1821
2       8 de agosto de 1951
3       15 de junio de 1955
4        5 de enero de 1820
5       20 de abril de 1814
6       23 de abril de 1814
7       15 de junio de 1955
8   17 de diciembre de 1836
9       8 de agosto de 1951
10       1 de marzo de 1820
11       1 de marzo de 1820
12  10 de diciembre de 1953
13      15 de junio de 1955
14      15 de junio de 1955
15  17 de diciembre de 1836
16       1 de marzo de 1820
17       1 de marzo de 1820
18  22 de noviembre de 1956
19       10 de mayo de 1816
20      27 de abril de 1820
21      26 de abril de 1990
22  25 de noviembre de 1825

In [3]:
# Aplanar las columnas del MultiIndex
tabla_provincias.columns = [' '.join(col).strip() for col in tabla_provincias.columns]

In [4]:
# Seleccionar las columnas de interés (Nombre y Sup.)
tabla_provincias = tabla_provincias.iloc[:, [0, 5]]  # Índices de las columnas relevantes

In [5]:
tabla_provincias.head()

  Provincia Provincia Provincia Sup. (km²) Sup. (km²) Absolutos
0     Provincia de Buenos Aires                         307 571
1        Provincia de Catamarca                         102 602
2           Provincia del Chaco                          99 633
3          Provincia del Chubut                         224 686
4          Provincia de Córdoba                         165 321

In [6]:
# Renombrar columnas a "Nombre" y "Superficie"
tabla_provincias.columns = ["Nombre", "Superficie"]

tabla_provincias.head()

                      Nombre Superficie
0  Provincia de Buenos Aires    307 571
1     Provincia de Catamarca    102 602
2        Provincia del Chaco     99 633
3       Provincia del Chubut    224 686
4       Provincia de Córdoba    165 321

### Normalizar la columna `Nombre`

In [7]:
# Normalizar la columna "Nombre" eliminando "Provincia de " y "Provincia del "
tabla_provincias.loc[:, 'Nombre'] = tabla_provincias['Nombre'] \
    .str.replace('Provincia de ', '', regex=False) \
    .str.replace('Provincia del ', '', regex=False)

# Convertir los datos de 'Nombre' a minúsculas, quitar acentos y luego a formato título
tabla_provincias.loc[:, 'Nombre'] = tabla_provincias['Nombre'] \
    .str.lower() \
    .apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8')) \
    .str.title()

# Reemplazar el nombre largo por "Tierra Del Fuego"
tabla_provincias.loc[:, 'Nombre'] = tabla_provincias['Nombre'].replace(
    'Tierra Del Fuego, Antartida E Islas Del Atlantico Sur', 'Tierra Del Fuego'
)

# Confirmar el cambio
print(tabla_provincias['Nombre'].unique())

['Buenos Aires' 'Catamarca' 'Chaco' 'Chubut' 'Cordoba' 'Corrientes'
 'Entre Rios' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja' 'Mendoza' 'Misiones'
 'Neuquen' 'Rio Negro' 'Salta' 'San Juan' 'San Luis' 'Santa Cruz'
 'Santa Fe' 'Santiago Del Estero' 'Tierra Del Fuego' 'Tucuman']

Agregar una columna que sea `pais` (porque en el mapa de visualización PowerBI, localiza algunas provincias, fuera de la Argentina, si no se lo aclara)

In [8]:
# Trabajar con una copia del DataFrame
tabla_provincias = tabla_provincias.copy() # Como es una vista de otro DataFrame, genera warnings

# Agregar la columna 'pais' con el valor 'Argentina'
tabla_provincias.loc[:, 'Pais'] = 'Argentina'

# Reorganizar las columnas en el orden deseado
tabla_provincias = tabla_provincias[['Pais', 'Nombre', 'Superficie']]

# Confirmar el cambio
print(tabla_provincias.head())

        Pais        Nombre Superficie
0  Argentina  Buenos Aires    307 571
1  Argentina     Catamarca    102 602
2  Argentina         Chaco     99 633
3  Argentina        Chubut    224 686
4  Argentina       Cordoba    165 321

### Normalizar la columna `Superficie`

In [9]:
# Paso 1: Eliminar cualquier texto adicional (como '[nota 2]') de la columna 'Superficie'
tabla_provincias.loc[:, 'Superficie'] = tabla_provincias['Superficie'].str.replace(r'\[.*\]', '', regex=True)

# Paso 2: Eliminar caracteres no numéricos y espacios no estándar
tabla_provincias.loc[:, 'Superficie'] = tabla_provincias['Superficie'].str.replace(r'\D', '', regex=True)

# Paso 3: Convertir la columna a tipo entero
tabla_provincias.loc[:, 'Superficie'] = tabla_provincias['Superficie'].astype(float).astype(int)

# Confirmar que la columna está limpia y en el formato correcto
tabla_provincias.tail()

         Pais               Nombre Superficie
18  Argentina           Santa Cruz     243943
19  Argentina             Santa Fe     133007
20  Argentina  Santiago Del Estero     136351
21  Argentina     Tierra Del Fuego      21571
22  Argentina              Tucuman      22524

### Agregar la información de la población

In [10]:
# Cargar el archivo Excel
path = r'..\Datasets crudos\c2022_tp_est_c1.xlsx'
excel_data = pd.ExcelFile(path)

poblacion = pd.read_excel(path, sheet_name='Cuadro 1 ', skiprows=2, header=[0, 1])

In [11]:
poblacion

                                               Código  \
                                   Unnamed: 0_level_1
0                                                 NaN
1                                                  02
2                                                  06
3                                                 NaN
4                                                 NaN
5                                                  10
6                                                  22
7                                                  26
8                                                  14
9                                                  18
10                                                 30
11                                                 34
12                                                 38
13                                                 42
14                                                 46
15                                                 50
16                                                 54
17                                                 58
18                                                 62
19                                                 66
20                                                 70
21                                                 74
22                                                 78
23                                                 82
24                                                 86
25                                                 94
26                                                 90
27  (1) Las Islas Malvinas, Georgias del Sur, Sand...
28  Fuente: INDEC, Censo Nacional de Población, Ho...

                                         Jurisdicción   Población              \
                                   Unnamed: 1_level_1        2010        2022
0                                               Total  40117096.0  45892285.0
1                     Ciudad Autónoma de Buenos Aires   2890151.0   3121707.0
2                                        Buenos Aires  15625084.0  17523996.0
3                   24 Partidos del Gran Buenos Aires   9916715.0  10849299.0
4   Resto de partidos de la Provincia de Buenos Aires   5708369.0   6674697.0
5                                           Catamarca    367828.0    429562.0
6                                               Chaco   1055259.0   1129606.0
7                                              Chubut    509108.0    592621.0
8                                             Córdoba   3308876.0   3840905.0
9                                          Corrientes    992595.0   1212696.0
10                                         Entre Ríos   1235994.0   1425578.0
11                                            Formosa    530162.0    607419.0
12                                              Jujuy    673307.0    811611.0
13                                           La Pampa    318951.0    361859.0
14                                           La Rioja    333642.0    383865.0
15                                            Mendoza   1738929.0   2043540.0
16                                           Misiones   1101593.0   1278873.0
17                                            Neuquén    551266.0    710814.0
18                                          Río Negro    638645.0    750768.0
19                                              Salta   1214441.0   1441351.0
20                                           San Juan    681055.0    822853.0
21                                           San Luis    432310.0    542069.0
22                                         Santa Cruz    273964.0    337226.0
23                                           Santa Fe   3194537.0   3544908.0
24                                Santiago del Estero    874006.0   1060906.0
25  Tierra del Fuego, Antártida e Islas del Atlánt...    127205.0    185732.0
26                                            Tucumán   1448188.0   1731820.0
27                                                NaN         NaN         NaN
28                                                NaN         NaN         NaN

   Variación absoluta Variación relativa (%)
   Unnamed: 4_level_1     Unnamed: 5_level_1
0           5775189.0                   14.4
1            231556.0                    8.0
2           1898912.0                   12.2
3            932584.0                    9.4
4            966328.0                   16.9
5             61734.0                   16.8
6             74347.0                    7.0
7             83513.0                   16.4
8            532029.0                   16.1
9            220101.0                   22.2
10           189584.0                   15.3
11            77257.0                   14.6
12           138304.0                   20.5
13            42908.0                   13.5
14            50223.0                   15.1
15           304611.0                   17.5
16           177280.0                   16.1
17           159548.0                   28.9
18           112123.0                   17.6
19           226910.0                   18.7
20           141798.0                   20.8
21           109759.0                   25.4
22            63262.0                   23.1
23           350371.0                   11.0
24           186900.0                   21.4
25            58527.0                   46.0
26           283632.0                   19.6
27                NaN                    NaN
28                NaN                    NaN

Elimino las filas que contienen información que no necesito

In [12]:
# Dropear las filas específicas
poblacion = poblacion.drop([0, 3, 4, 27, 28], axis=0).reset_index(drop=True)

# Verificar el DataFrame después de eliminar las filas
poblacion

               Código                                       Jurisdicción  \
   Unnamed: 0_level_1                                 Unnamed: 1_level_1
0                  02                    Ciudad Autónoma de Buenos Aires
1                  06                                       Buenos Aires
2                  10                                          Catamarca
3                  22                                              Chaco
4                  26                                             Chubut
5                  14                                            Córdoba
6                  18                                         Corrientes
7                  30                                         Entre Ríos
8                  34                                            Formosa
9                  38                                              Jujuy
10                 42                                           La Pampa
11                 46                                           La Rioja
12                 50                                            Mendoza
13                 54                                           Misiones
14                 58                                            Neuquén
15                 62                                          Río Negro
16                 66                                              Salta
17                 70                                           San Juan
18                 74                                           San Luis
19                 78                                         Santa Cruz
20                 82                                           Santa Fe
21                 86                                Santiago del Estero
22                 94  Tierra del Fuego, Antártida e Islas del Atlánt...
23                 90                                            Tucumán

     Población             Variación absoluta Variación relativa (%)
          2010        2022 Unnamed: 4_level_1     Unnamed: 5_level_1
0    2890151.0   3121707.0           231556.0                    8.0
1   15625084.0  17523996.0          1898912.0                   12.2
2     367828.0    429562.0            61734.0                   16.8
3    1055259.0   1129606.0            74347.0                    7.0
4     509108.0    592621.0            83513.0                   16.4
5    3308876.0   3840905.0           532029.0                   16.1
6     992595.0   1212696.0           220101.0                   22.2
7    1235994.0   1425578.0           189584.0                   15.3
8     530162.0    607419.0            77257.0                   14.6
9     673307.0    811611.0           138304.0                   20.5
10    318951.0    361859.0            42908.0                   13.5
11    333642.0    383865.0            50223.0                   15.1
12   1738929.0   2043540.0           304611.0                   17.5
13   1101593.0   1278873.0           177280.0                   16.1
14    551266.0    710814.0           159548.0                   28.9
15    638645.0    750768.0           112123.0                   17.6
16   1214441.0   1441351.0           226910.0                   18.7
17    681055.0    822853.0           141798.0                   20.8
18    432310.0    542069.0           109759.0                   25.4
19    273964.0    337226.0            63262.0                   23.1
20   3194537.0   3544908.0           350371.0                   11.0
21    874006.0   1060906.0           186900.0                   21.4
22    127205.0    185732.0            58527.0                   46.0
23   1448188.0   1731820.0           283632.0                   19.6

Elimino todas las columnas que no utilizo, quedándome solo con las de población

In [13]:
# Seleccionar solo las columnas necesarias
poblacion = poblacion.iloc[:, [1, 2, 3]]

# Aplanar los encabezados
poblacion.columns = ['Nombre', 'Poblacion 2010', 'Poblacion 2022']

# Visualizar el resultado
poblacion

,Nombre,Poblacion 2010,Poblacion 2022
0,Ciudad Autónoma de Buenos Aires,2890151.0,3121707.0
1,Buenos Aires,15625084.0,17523996.0
2,Catamarca,367828.0,429562.0
3,Chaco,1055259.0,1129606.0
4,Chubut,509108.0,592621.0
5,Córdoba,3308876.0,3840905.0
6,Corrientes,992595.0,1212696.0
7,Entre Ríos,1235994.0,1425578.0
8,Formosa,530162.0,607419.0
9,Jujuy,673307.0,811611.0
10,La Pampa,318951.0,361859.0
11,La Rioja,333642.0,383865.0
12,Mendoza,1738929.0,2043540.0
13,Misiones,1101593.0,1278873.0
14,Neuquén,551266.0,710814.0
15,Río Negro,638645.0,750768.0
16,Salta,1214441.0,1441351.0
17,San Juan,681055.0,822853.0
18,San Luis,432310.0,542069.0
19,Santa Cruz,273964.0,337226.0
20,Santa Fe,3194537.0,3544908.0
21,Santiago del Estero,874006.0,1060906.0
22,"Tierra del Fuego, Antártida e Islas del Atlánt...",127205.0,185732.0
23,Tucumán,1448188.0,1731820.0

Hay que cambiar 'Ciudad Autónoma de Buenos Aires' a 'Capital Federal' y dejar solo 'Tierra del Fuego'

In [14]:
# Reemplazar el nombre largo por "Tierra Del Fuego"
poblacion.loc[:, 'Nombre'] = poblacion['Nombre'].replace(
    'Tierra del Fuego, Antártida e Islas del Atlántico Sur (1)', 'Tierra Del Fuego'
)

# Reemplazar 'Ciudad Autónoma de Buenos Aires' por 'Capital Federal'
poblacion.loc[:, 'Nombre'] = poblacion['Nombre'].replace(
    'Ciudad Autónoma de Buenos Aires', 'Capital Federal'
)

# Verificar los cambios
print(poblacion['Nombre'].unique())

['Capital Federal' 'Buenos Aires' 'Catamarca' 'Chaco' 'Chubut' 'Córdoba'
 'Corrientes' 'Entre Ríos' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquén' 'Río Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago del Estero' 'Tierra Del Fuego'
 'Tucumán']

Aplicar la misma normalización que se viene utilizando hasta ahora en los nombres

In [15]:
# Convertir los datos de 'Nombre' en el DataFrame poblacion
poblacion.loc[:, 'Nombre'] = poblacion['Nombre'] \
    .str.lower() \
    .apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8') if isinstance(x, str) else x) \
    .str.title()

# Confirmar los cambios
print(poblacion['Nombre'].unique())

['Capital Federal' 'Buenos Aires' 'Catamarca' 'Chaco' 'Chubut' 'Cordoba'
 'Corrientes' 'Entre Rios' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquen' 'Rio Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero' 'Tierra Del Fuego'
 'Tucuman']

In [16]:
poblacion

                 Nombre  Poblacion 2010  Poblacion 2022
0       Capital Federal       2890151.0       3121707.0
1          Buenos Aires      15625084.0      17523996.0
2             Catamarca        367828.0        429562.0
3                 Chaco       1055259.0       1129606.0
4                Chubut        509108.0        592621.0
5               Cordoba       3308876.0       3840905.0
6            Corrientes        992595.0       1212696.0
7            Entre Rios       1235994.0       1425578.0
8               Formosa        530162.0        607419.0
9                 Jujuy        673307.0        811611.0
10             La Pampa        318951.0        361859.0
11             La Rioja        333642.0        383865.0
12              Mendoza       1738929.0       2043540.0
13             Misiones       1101593.0       1278873.0
14              Neuquen        551266.0        710814.0
15            Rio Negro        638645.0        750768.0
16                Salta       1214441.0       1441351.0
17             San Juan        681055.0        822853.0
18             San Luis        432310.0        542069.0
19           Santa Cruz        273964.0        337226.0
20             Santa Fe       3194537.0       3544908.0
21  Santiago Del Estero        874006.0       1060906.0
22     Tierra Del Fuego        127205.0        185732.0
23              Tucuman       1448188.0       1731820.0

In [17]:
tabla_provincias

         Pais               Nombre Superficie
0   Argentina         Buenos Aires     307571
1   Argentina            Catamarca     102602
2   Argentina                Chaco      99633
3   Argentina               Chubut     224686
4   Argentina              Cordoba     165321
5   Argentina           Corrientes      88199
6   Argentina           Entre Rios      78781
7   Argentina              Formosa      72066
8   Argentina                Jujuy      53219
9   Argentina             La Pampa     143440
10  Argentina             La Rioja      89680
11  Argentina              Mendoza     148827
12  Argentina             Misiones      29801
13  Argentina              Neuquen      94078
14  Argentina            Rio Negro     203013
15  Argentina                Salta     155488
16  Argentina             San Juan      89651
17  Argentina             San Luis      76748
18  Argentina           Santa Cruz     243943
19  Argentina             Santa Fe     133007
20  Argentina  Santiago Del Estero     136351
21  Argentina     Tierra Del Fuego      21571
22  Argentina              Tucuman      22524

### Obtener las columnas `latitud` y `longitud` 
Para la localización en el mapa

| Provincia             | Capital             | Latitud  | Longitud  |
|-----------------------|---------------------|----------|-----------|
| Buenos Aires          | La Plata            | -34.9214 | -57.9545  |
| Capital Federal       | Buenos Aires        | -34.6037 | -58.3816  |
| Catamarca             | Catamarca           | -28.4696 | -65.7852  |
| Chaco                 | Resistencia         | -27.4514 | -58.9867  |
| Chubut                | Rawson              | -43.3007 | -65.1023  |
| Córdoba               | Córdoba             | -31.4201 | -64.1888  |
| Corrientes            | Corrientes          | -27.4692 | -58.8306  |
| Entre Ríos            | Paraná              | -31.7319 | -60.5238  |
| Formosa               | Formosa             | -26.1849 | -58.1731  |
| Jujuy                 | San Salvador de Jujuy | -24.1858 | -65.2995  |
| La Pampa              | Santa Rosa          | -36.6206 | -64.2901  |
| La Rioja              | La Rioja            | -29.4135 | -66.8565  |
| Mendoza               | Mendoza             | -32.8895 | -68.8458  |
| Misiones              | Posadas             | -27.3625 | -55.9000  |
| Neuquén               | Neuquén             | -38.9516 | -68.0591  |
| Río Negro             | Viedma              | -40.8135 | -62.9967  |
| Salta                 | Salta               | -24.7821 | -65.4232  |
| San Juan              | San Juan            | -31.5375 | -68.5364  |
| San Luis              | San Luis            | -33.2950 | -66.3356  |
| Santa Cruz            | Río Gallegos        | -51.6230 | -69.2168  |
| Santa Fe              | Santa Fe            | -31.6239 | -60.6860  |
| Santiago del Estero   | Santiago del Estero | -27.7951 | -64.2615  |
| Tierra del Fuego      | Ushuaia             | -54.8019 | -68.3029  |
| Tucumán               | San Miguel de Tucumán | -26.8083 | -65.2176  |

In [18]:
# Crear el DataFrame a partir de los datos proporcionados
data = {
    "Nombre": [
        "Buenos Aires", "Catamarca", "Chaco", "Chubut", "Cordoba", "Corrientes", "Entre Rios",
        "Formosa", "Jujuy", "La Pampa", "La Rioja", "Mendoza", "Misiones", "Neuquen", "Rio Negro",
        "Salta", "San Juan", "San Luis", "Santa Cruz", "Santa Fe", "Santiago Del Estero",
        "Tierra Del Fuego", "Tucuman", "Capital Federal"
    ],
    "Latitud": [
        -34.9214, -28.4696, -27.4514, -43.3007, -31.4201, -27.4692, -31.7319, -26.1849, -24.1858,
        -36.6206, -29.4135, -32.8895, -27.3625, -38.9516, -40.8135, -24.7821, -31.5375, -33.2950,
        -51.6230, -31.6239, -27.7951, -54.8019, -26.8083, -34.6037
    ],
    "Longitud": [
        -57.9545, -65.7852, -58.9867, -65.1023, -64.1888, -58.8306, -60.5238, -58.1731, -65.2995,
        -64.2901, -66.8565, -68.8458, -55.9000, -68.0591, -62.9967, -65.4232, -68.5364, -66.3356,
        -69.2168, -60.6860, -64.2615, -68.3029, -65.2176, -58.3816
    ]
}

coordenadas = pd.DataFrame(data)
coordenadas

                 Nombre  Latitud  Longitud
0          Buenos Aires -34.9214  -57.9545
1             Catamarca -28.4696  -65.7852
2                 Chaco -27.4514  -58.9867
3                Chubut -43.3007  -65.1023
4               Cordoba -31.4201  -64.1888
5            Corrientes -27.4692  -58.8306
6            Entre Rios -31.7319  -60.5238
7               Formosa -26.1849  -58.1731
8                 Jujuy -24.1858  -65.2995
9              La Pampa -36.6206  -64.2901
10             La Rioja -29.4135  -66.8565
11              Mendoza -32.8895  -68.8458
12             Misiones -27.3625  -55.9000
13              Neuquen -38.9516  -68.0591
14            Rio Negro -40.8135  -62.9967
15                Salta -24.7821  -65.4232
16             San Juan -31.5375  -68.5364
17             San Luis -33.2950  -66.3356
18           Santa Cruz -51.6230  -69.2168
19             Santa Fe -31.6239  -60.6860
20  Santiago Del Estero -27.7951  -64.2615
21     Tierra Del Fuego -54.8019  -68.3029
22              Tucuman -26.8083  -65.2176
23      Capital Federal -34.6037  -58.3816

Obtener la columna `hogares`

In [19]:
# Cargar el archivo Excel
path = r'..\Datasets crudos\c2022_tp_gobierno_local_c1.xlsx'
excel_data = pd.ExcelFile(path)

hogares = pd.read_excel(path, sheet_name='Cuadro 1', header=3)

hogares.head()

,Código de jurisdicción,Jurisdicción,Código de gobierno local,Categoría,Gobierno local,Viviendas,Población,Viviendas\nparticulares,Población en\nviviendas\nparticulares,Viviendas\ncolectivas,Población\nen\nviviendas\ncolectivas,Población\nen situación\nde calle
0,NaN,NaN,Total,NaN,NaN,17794949.0,45892285.0,17783029.0,45618787.0,11920,267793,5705
1,02,Ciudad Autónoma de Buenos Aires,022007,CO,Comuna 1,130298.0,223554.0,130145.0,221001.0,153,2093,460
2,02,Ciudad Autónoma de Buenos Aires,022014,CO,Comuna 2,107544.0,161645.0,107498.0,160609.0,46,999,37
3,02,Ciudad Autónoma de Buenos Aires,022021,CO,Comuna 3,110368.0,196240.0,110264.0,193537.0,104,2455,248
4,02,Ciudad Autónoma de Buenos Aires,022028,CO,Comuna 4,100986.0,229240.0,100950.0,227024.0,36,1596,620

In [20]:
# Seleccionar solo las columnas necesarias
hogares = hogares.iloc[:, [1, 5]]

hogares.head()

                      Jurisdicción   Viviendas
0                              NaN  17794949.0
1  Ciudad Autónoma de Buenos Aires    130298.0
2  Ciudad Autónoma de Buenos Aires    107544.0
3  Ciudad Autónoma de Buenos Aires    110368.0
4  Ciudad Autónoma de Buenos Aires    100986.0

In [21]:
hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2294 entries, 0 to 2293
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Jurisdicción  2291 non-null   object
 1   Viviendas     2292 non-null   float64
dtypes: float64(1), object(1)
memory usage: 36.0+ KB

In [22]:
# Dropear las filas con valores nulos en la columna "Jurisdicción"
hogares = hogares.dropna(subset=['Jurisdicción'])

# Confirmar el resultado
print(hogares.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2291 entries, 1 to 2291
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Jurisdicción  2291 non-null   object
 1   Viviendas     2291 non-null   float64
dtypes: float64(1), object(1)
memory usage: 53.7+ KB
None

In [23]:
hogares['Jurisdicción'].value_counts()

Jurisdicción
Córdoba                                                  428
Santa Fe                                                 365
Entre Ríos                                               241
Santiago del Estero                                      166
Buenos Aires                                             135
Tucumán                                                  113
La Pampa                                                  80
Misiones                                                  77
Corrientes                                                76
Río Negro                                                 75
Chaco                                                     70
San Luis                                                  68
Jujuy                                                     63
Salta                                                     60
Neuquén                                                   58
Chubut                                                    48
Formosa                                                   37
Catamarca                                                 36
Santa Cruz                                                21
San Juan                                                  19
La Rioja                                                  18
Mendoza                                                   18
Ciudad Autónoma de Buenos Aires                           15
Tierra del Fuego, Antártida e Islas del Atlántico Sur      3
Tierra del Fuego, Antártida eIslas del Atlántico Sur       1
Name: count, dtype: int64

In [24]:
# Unificar en "Tierra del Fuego"
hogares['Jurisdicción'] = hogares['Jurisdicción'].replace(
    ['Tierra del Fuego, Antártida eIslas del Atlántico Sur', 'Tierra del Fuego, Antártida e Islas del Atlántico Sur'], 'Tierra del Fuego'
)

# Cambiar CABA a 'Capital Federal'
hogares['Jurisdicción'] = hogares['Jurisdicción'].replace(
    'Ciudad Autónoma de Buenos Aires', 'Capital Federal'
)

In [25]:
# Agrupar por "Jurisdicción" y sumar los valores de "Vivienda"
hogares = hogares.groupby('Jurisdicción', as_index=False)['Viviendas'].sum()

# Confirmar el resultado
print(len(hogares))

24

In [26]:
hogares

           Jurisdicción  Viviendas
0          Buenos Aires  6749094.0
1       Capital Federal  1615300.0
2             Catamarca   156412.0
3                 Chaco   411396.0
4                Chubut   241242.0
5            Corrientes   408682.0
6               Córdoba  1616117.0
7            Entre Ríos   558566.0
8               Formosa   218678.0
9                 Jujuy   266427.0
10             La Pampa   164515.0
11             La Rioja   148178.0
12              Mendoza   702009.0
13             Misiones   464472.0
14              Neuquén   283923.0
15            Río Negro   308005.0
16                Salta   458289.0
17             San Juan   263539.0
18             San Luis   204447.0
19           Santa Cruz   135010.0
20             Santa Fe  1452021.0
21  Santiago del Estero   345637.0
22     Tierra del Fuego    69833.0
23              Tucumán   553157.0

In [27]:
# Cambiar los encabezados
hogares.columns = ['Nombre', 'Hogares']

In [28]:
# Convertir los datos de 'Nombre' en el DataFrame hogares
hogares.loc[:, 'Nombre'] = hogares['Nombre'] \
    .str.lower() \
    .apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8') if isinstance(x, str) else x) \
    .str.title()

# Confirmar los cambios
print(hogares['Nombre'].unique())

['Buenos Aires' 'Capital Federal' 'Catamarca' 'Chaco' 'Chubut'
 'Corrientes' 'Cordoba' 'Entre Rios' 'Formosa' 'Jujuy' 'La Pampa'
 'La Rioja' 'Mendoza' 'Misiones' 'Neuquen' 'Rio Negro' 'Salta' 'San Juan'
 'San Luis' 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero'
 'Tierra Del Fuego' 'Tucuman']

Obtener la columna `ingresos`

In [29]:
# Cargar el archivo Excel
path = r'..\Datasets crudos\indicadores_eph_total_urbano_ingresos_3t_2023.xls'
excel_data = pd.ExcelFile(path)

ingresos = pd.read_excel(path, sheet_name='Cuadro 1', skiprows=3, header=[0, 1])
ingresos.head()

                         Provincia                     \
                Unnamed: 0_level_1 Unnamed: 1_level_1
0                              NaN                NaN
1  Ciudad Autónoma de Buenos Aires                NaN
2                     Buenos Aires                NaN
3                        Catamarca                NaN
4                          Córdoba                NaN

                 Población                                                    \
  Población     (en miles) Población     (en miles).1 Porcentaje de personas
0                      NaN                        NaN                    NaN
1                   3005.0                        NaN                    7.1
2                  17467.0                        NaN                   41.1
3                    339.0                        NaN                    0.8
4                   3488.0                        NaN                    8.2

                                                Ingreso per cápita familiar  \
  Porcentaje de personas.1 Ingreso total por provincia           (en miles)
0                      NaN                                              NaN
1                      NaN                                     6.321798e+08
2                      NaN                                     2.048469e+09
3                      NaN                                     3.032905e+07
4                      NaN                                     4.109192e+08

                                                                             \
  Ingreso total por provincia           (en miles).1 Porcentaje del ingreso
0                                                NaN                    NaN
1                                                NaN                   12.7
2                                                NaN                   41.1
3                                                NaN                    0.6
4                                                NaN                    8.2


  Porcentaje del ingreso.1     Media Media.1   Mediana
0                      NaN       NaN     NaN       NaN
1                      NaN  210376.0     NaN  160000.0
2                      NaN  117278.0     NaN   90500.0
3                      NaN   89532.0     NaN   70429.0
4                      NaN  117816.0     NaN   90000.0

In [30]:
# Seleccionar solo las columnas necesarias
ingresos = ingresos.iloc[:, [0, 10]]

# Aplanar los encabezados
ingresos.columns = ['Nombre', 'Ingresos']

ingresos

                                            Nombre  Ingresos
0                                              NaN       NaN
1                  Ciudad Autónoma de Buenos Aires  210376.0
2                                     Buenos Aires  117278.0
3                                        Catamarca   89532.0
4                                          Córdoba  117816.0
5                                       Corrientes   98616.0
6                                            Chaco   58294.0
7                                           Chubut  141400.0
8                                       Entre Ríos  100521.0
9                                          Formosa   74422.0
10                                           Jujuy   83337.0
11                                        La Pampa  149776.0
12                                        La Rioja   68717.0
13                                         Mendoza   95859.0
14                                        Misiones   98526.0
15                                         Neuquén  149205.0
16                                       Río Negro  111098.0
17                                           Salta   84395.0
18                                        San Juan   95885.0
19                                        San Luis   95591.0
20                                      Santa Cruz  153433.0
21                                        Santa Fe  122496.0
22                             Santiago del Estero   75476.0
23                                         Tucumán   87145.0
24                                Tierra del Fuego  200245.0
25                           Total nacional urbano  117230.0
26                                             NaN       NaN
27  Fuente: INDEC. Encuesta Permanente de Hogares.       NaN

In [31]:
# Dropear las filas específicas
ingresos = ingresos.drop([0, 25, 26, 27], axis=0).reset_index(drop=True)

# Verificar el DataFrame después de eliminar las filas
ingresos

                             Nombre  Ingresos
0   Ciudad Autónoma de Buenos Aires  210376.0
1                      Buenos Aires  117278.0
2                         Catamarca   89532.0
3                           Córdoba  117816.0
4                        Corrientes   98616.0
5                             Chaco   58294.0
6                            Chubut  141400.0
7                        Entre Ríos  100521.0
8                           Formosa   74422.0
9                             Jujuy   83337.0
10                         La Pampa  149776.0
11                         La Rioja   68717.0
12                          Mendoza   95859.0
13                         Misiones   98526.0
14                          Neuquén  149205.0
15                        Río Negro  111098.0
16                            Salta   84395.0
17                         San Juan   95885.0
18                         San Luis   95591.0
19                       Santa Cruz  153433.0
20                         Santa Fe  122496.0
21              Santiago del Estero   75476.0
22                          Tucumán   87145.0
23                 Tierra del Fuego  200245.0

Normalizar los nombres

In [32]:
# Cambiar CABA a 'Capital Federal'
ingresos['Nombre'] = ingresos['Nombre'].replace(
    'Ciudad Autónoma de Buenos Aires', 'Capital Federal'
)

# Convertir los datos de 'Nombre' en el DataFrame hogares
ingresos.loc[:, 'Nombre'] = ingresos['Nombre'] \
    .str.lower() \
    .apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8') if isinstance(x, str) else x) \
    .str.title()

# Confirmar los cambios
print(ingresos['Nombre'].unique())

['Capital Federal' 'Buenos Aires' 'Catamarca' 'Cordoba' 'Corrientes'
 'Chaco' 'Chubut' 'Entre Rios' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquen' 'Rio Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero' 'Tucuman'
 'Tierra Del Fuego']

In [33]:
# Merge entre tabla_provincias y hogares
provincia_hogares = pd.merge(
    tabla_provincias,      # Tabla con Nombre y Superficie
    hogares,               # Tabla con Nombre y Hogares
    on='Nombre',           # Clave de unión
    how='outer'            # Tipo de unión
)

# Merge del resultado con poblacion
provincia_hogares_poblacion = pd.merge(
    provincia_hogares,     # Resultado del primer merge
    poblacion,             # Tabla con Nombre, Población 2010 y 2022
    on='Nombre',           # Clave de unión
    how='outer'            # Tipo de unión
)

# Merge del resultado con poblacion
provincia_hogares_poblacion_coordenadas = pd.merge(
    provincia_hogares_poblacion,     # Resultado del segundo merge
    coordenadas,                     # Tabla con Nombre y coordenas
    on='Nombre',                     # Clave de unión
    how='outer'                      # Tipo de unión
)

# Merge del resultado con ingresos
provincia = pd.merge(
    provincia_hogares_poblacion_coordenadas,     # Resultado del tercer merge
    ingresos,                                    # Tabla con Nombre, ingresos
    on='Nombre',                                 # Clave de unión
    how='outer'                                  # Tipo de unión
)


# Confirmar el resultado
print(provincia.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pais            23 non-null     object
 1   Nombre          24 non-null     object
 2   Superficie      23 non-null     object
 3   Hogares         24 non-null     float64
 4   Poblacion 2010  24 non-null     float64
 5   Poblacion 2022  24 non-null     float64
 6   Latitud         24 non-null     float64
 7   Longitud        24 non-null     float64
 8   Ingresos        24 non-null     float64
dtypes: float64(6), object(3)
memory usage: 1.8+ KB
None

Segun wikipedia (el link2), Capital Federal tiene una superfice de 203 km²

In [34]:
# Reemplazar el valor nulo de 'Superficie' con 203
provincia.loc[provincia['Superficie'].isna(), 'Superficie'] = 203

# Reemplazar el valor nulo de 'Pais' con 'Argentina'
provincia.loc[provincia['Pais'].isna(), 'Pais'] = 'Argentina'

In [ ]:
provincia

,Pais,Nombre,Superficie,Hogares,Poblacion 2010,Poblacion 2022,Latitud,Longitud,Ingresos
0,Argentina,Buenos Aires,307571,6749094.0,15625084.0,17523996.0,-34.9214,-57.9545,117278.0
1,Argentina,Capital Federal,203,1615300.0,2890151.0,3121707.0,-34.6037,-58.3816,210376.0
2,Argentina,Catamarca,102602,156412.0,367828.0,429562.0,-28.4696,-65.7852,89532.0
3,Argentina,Chaco,99633,411396.0,1055259.0,1129606.0,-27.4514,-58.9867,58294.0
4,Argentina,Chubut,224686,241242.0,509108.0,592621.0,-43.3007,-65.1023,141400.0
5,Argentina,Cordoba,165321,1616117.0,3308876.0,3840905.0,-31.4201,-64.1888,117816.0
6,Argentina,Corrientes,88199,408682.0,992595.0,1212696.0,-27.4692,-58.8306,98616.0
7,Argentina,Entre Rios,78781,558566.0,1235994.0,1425578.0,-31.7319,-60.5238,100521.0
8,Argentina,Formosa,72066,218678.0,530162.0,607419.0,-26.1849,-58.1731,74422.0
9,Argentina,Jujuy,53219,266427.0,673307.0,811611.0,-24.1858,-65.2995,83337.0
10,Argentina,La Pampa,143440,164515.0,318951.0,361859.0,-36.6206,-64.2901,149776.0
11,Argentina,La Rioja,89680,148178.0,333642.0,383865.0,-29.4135,-66.8565,68717.0
12,Argentina,Mendoza,148827,702009.0,1738929.0,2043540.0,-32.8895,-68.8458,95859.0
13,Argentina,Misiones,29801,464472.0,1101593.0,1278873.0,-27.3625,-55.9000,98526.0
14,Argentina,Neuquen,94078,283923.0,551266.0,710814.0,-38.9516,-68.0591,149205.0
15,Argentina,Rio Negro,203013,308005.0,638645.0,750768.0,-40.8135,-62.9967,111098.0
16,Argentina,Salta,155488,458289.0,1214441.0,1441351.0,-24.7821,-65.4232,84395.0
17,Argentina,San Juan,89651,263539.0,681055.0,822853.0,-31.5375,-68.5364,95885.0
18,Argentina,San Luis,76748,204447.0,432310.0,542069.0,-33.2950,-66.3356,95591.0
19,Argentina,Santa Cruz,243943,135010.0,273964.0,337226.0,-51.6230,-69.2168,153433.0
20,Argentina,Santa Fe,133007,1452021.0,3194537.0,3544908.0,-31.6239,-60.6860,122496.0
21,Argentina,Santiago Del Estero,136351,345637.0,874006.0,1060906.0,-27.7951,-64.2615,75476.0
22,Argentina,Tierra Del Fuego,21571,69833.0,127205.0,185732.0,-54.8019,-68.3029,200245.0
23,Argentina,Tucuman,22524,553157.0,1448188.0,1731820.0,-26.8083,-65.2176,87145.0

In [36]:
# Agregar la columna 'id' con valores consecutivos comenzando desde 1
provincia['id_provincia'] = range(1, len(provincia) + 1)

# Confirmar el cambio
provincia.head()

,Pais,Nombre,Superficie,Hogares,Poblacion 2010,Poblacion 2022,Latitud,Longitud,Ingresos,id_provincia
0,Argentina,Buenos Aires,307571,6749094.0,15625084.0,17523996.0,-34.9214,-57.9545,117278.0,1
1,Argentina,Capital Federal,203,1615300.0,2890151.0,3121707.0,-34.6037,-58.3816,210376.0,2
2,Argentina,Catamarca,102602,156412.0,367828.0,429562.0,-28.4696,-65.7852,89532.0,3
3,Argentina,Chaco,99633,411396.0,1055259.0,1129606.0,-27.4514,-58.9867,58294.0,4
4,Argentina,Chubut,224686,241242.0,509108.0,592621.0,-43.3007,-65.1023,141400.0,5

In [37]:
provincia.to_csv(r'..\Datasets procesados\provincia.csv', index=False, encoding='utf-8')

# Tabla de fechas

In [38]:
# Crear un rango de años y trimestres
años = list(range(2014, 2025))  # Del 2014 al 2024
trimestres = [1, 2, 3, 4]

# Generar todas las combinaciones de Año y Trimestre
fecha = pd.DataFrame(
    [(año, trimestre) for año in años for trimestre in trimestres],
    columns=['Año', 'Trimestre']
)

# Agregar la columna 'Id' incremental
fecha['id_fecha'] = range(1, len(fecha) + 1)

In [39]:
# Mostrar la tabla resultante
fecha

     Año  Trimestre  id_fecha
0   2014          1         1
1   2014          2         2
2   2014          3         3
3   2014          4         4
4   2015          1         5
5   2015          2         6
6   2015          3         7
7   2015          4         8
8   2016          1         9
9   2016          2        10
10  2016          3        11
11  2016          4        12
12  2017          1        13
13  2017          2        14
14  2017          3        15
15  2017          4        16
16  2018          1        17
17  2018          2        18
18  2018          3        19
19  2018          4        20
20  2019          1        21
21  2019          2        22
22  2019          3        23
23  2019          4        24
24  2020          1        25
25  2020          2        26
26  2020          3        27
27  2020          4        28
28  2021          1        29
29  2021          2        30
30  2021          3        31
31  2021          4        32
32  2022          1        33
33  2022          2        34
34  2022          3        35
35  2022          4        36
36  2023          1        37
37  2023          2        38
38  2023          3        39
39  2023          4        40
40  2024          1        41
41  2024          2        42
42  2024          3        43
43  2024          4        44

In [40]:
fecha.to_csv(r'..\Datasets procesados\fecha.csv', index=False)